.balances-container .balances-container {
  padding: 20px 0;
}

.balances-container .balance-table-toolbar {
  padding: 0 16px 10px;
}

.balances-container .progress-container {
  padding: 50px 0 0;
}

.balances-container .warning-card-content:last-child {
  padding: 16px;
}

.balances-container .warning-icon-container {
  height: 100%;
}

@media only screen and (min-width: 960px) {
  .balances .balances-container {
    padding: 50px 0;
  }
}
